# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\js_proj\JavaScript30\01 - JavaScript Drum Kit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
